@model IEnumerable<RegistroSeccion.Models.Alumno>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Correo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modalidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Asistencia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Asignacion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modalidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Asistencia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Asignacion.Nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdBanner">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdBanner">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdBanner">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
